<section class="rounded-lg min-h-screen bg-gray-100 p-5">

    <div class="card max-w-5xl mx-auto p-6 shadow-4 border-round-2xl">

        <div class="text-center mb-6">

            <h2 class="text-3xl font-bold text-gray-500">
                Form Child
            </h2>

        </div>

        <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="space-y-6">

            <app-personal-info></app-personal-info>

            <app-account-info></app-account-info>

            <button pButton type="submit" label="Register" class="w-full">
            </button>

        </form>

    </div>

</section>