<div>

    <div class="mb-4">
        <app-page-header [title]="pageTitle"></app-page-header>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="mx-auto max-w-md space-y-8">

        <div class="space-y-0">
            <p-floatLabel>
                <input pInputText type="email" id="email" formControlName="email" class="input w-full" />
                <label for="email">Email</label>
            </p-floatLabel>

            <app-error [control]="loginForm.get('email')" [errorMessages]="validationMessages.email" [useDirty]="true">
            </app-error>
        </div>

        <div class="space-y-0">
            <p-floatLabel>
                <input pInputText type="password" id="password" formControlName="password" class="input w-full" />
                <label for="password">Password</label>
            </p-floatLabel>

            <app-error [control]="loginForm.get('password')" [errorMessages]="validationMessages.password"
                [useDirty]="true">
            </app-error>
        </div>

        <p class="text-red-500 text-sm">
            {{ errMsg() }}
        </p>

        <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded w-full" [disabled]="isLoading()">
            {{ isLoading() ? 'Loading...' : 'Login' }}
        </button>

    </form>
</div>