

 .sidebar-scroll {
    height: 100%;
}


 .sidebar-scroll .p-scrollpanel-bar {
    background: #cbd5e1;
    border-radius: 999px;
    width: 3px;
}

 .sidebar-scroll .p-scrollpanel-bar:hover {
    background: #94a3b8;
}