<div class="flex flex-col h-screen transition-all duration-300 overflow-hidden" [class.w-72]="!collapsed"
    [class.w-20]="collapsed">


    <div class="flex items-center justify-between px-3 pt-3 shrink-0">

        @if(!collapsed){
        <a routerLink="home">
            <span class=" font-bold text-2xl text-gray-500">Tasks</span>
        </a>
        }

        <p-button (onClick)="toggleSidebar()" [icon]="collapsed ? 'pi pi-bars' : 'pi pi-times'"
            styleClass="ms-auto bg-white text-gray-500 border-none hover:bg-gray-100 transition" rounded="true">
        </p-button>

    </div>


    <div class="flex-1 min-h-0 overflow-y-auto sidebar-scroll">

        <ul class="list-none p-3 m-0">


            <li>

                <div (click)="toggleForm()" pRipple
                    class="p-3 flex items-center justify-between cursor-pointer rounded-lg hover:bg-gray-100">

                    @if(collapsed){
                    <h2 class="font-bold text-gray-500">Fr</h2>
                    }

                    @if(!collapsed){
                    <span class="font-bold text-gray-500">Form</span>

                    <i class="text-gray-500 pi" [class.pi-chevron-down]="!formOpen"
                        [class.pi-chevron-up]="formOpen"></i>
                    }

                </div>

                @if(formOpen && !collapsed){
                <ul class="list-none p-0 m-0 ml-4">

                    <li>
                        <a routerLink="register" routerLinkActive="text-blue-500 bg-gray-100" pRipple
                            class="flex gap-2 p-3 rounded-lg hover:bg-gray-100">
                            Template Driven Form
                        </a>
                    </li>

                    <li>
                        <a routerLink="login" routerLinkActive="text-blue-500 bg-gray-100" pRipple
                            class="flex gap-2 p-3 rounded-lg hover:bg-gray-100">
                            Reactive Form
                        </a>
                    </li>

                    <li>
                        <a routerLink="formarray" routerLinkActive="text-blue-500 bg-gray-100" pRipple
                            class="flex gap-2 p-3 rounded-lg hover:bg-gray-100">
                            Form Array
                        </a>
                    </li>

                    <li>
                        <a routerLink="formchild" routerLinkActive="text-blue-500 bg-gray-100" pRipple
                            class="flex gap-2 p-3 rounded-lg hover:bg-gray-100">
                            Form Child
                        </a>
                    </li>

                    <li>
                        <a routerLink="formdisable" routerLinkActive="text-blue-500 bg-gray-100" pRipple
                            class="flex gap-2 p-3 rounded-lg hover:bg-gray-100">
                            Form Disable
                        </a>
                    </li>

                </ul>
                }

            </li>


            <li class="mt-6">

                <div (click)="toggleTable()" pRipple
                    class="p-3 flex items-center justify-between cursor-pointer rounded-lg hover:bg-gray-100">

                    @if(collapsed){
                    <h2 class="font-bold text-gray-500">Tb</h2>
                    }

                    @if(!collapsed){
                    <span class="font-bold text-gray-500">Table</span>

                    <i class="text-gray-500 pi" [class.pi-chevron-down]="!tableOpen"
                        [class.pi-chevron-up]="tableOpen"></i>
                    }

                </div>

                @if(tableOpen && !collapsed){
                <ul class="list-none p-0 m-0 ml-4">

                    <li>
                        <a routerLink="crudtable" routerLinkActive="text-blue-500 bg-gray-100" pRipple
                            class="flex gap-2 p-3 rounded-lg hover:bg-gray-100">
                            Crud Table
                        </a>
                    </li>

                </ul>
                }

            </li>
            <li class="mt-6">

                <div (click)="toggleGuard()" pRipple
                    class="p-3 flex items-center justify-between cursor-pointer rounded-lg hover:bg-gray-100">

                    @if(collapsed){
                    <h2 class="font-bold text-gray-500">gr</h2>
                    }

                    @if(!collapsed){
                    <span class="font-bold text-gray-500">Guard</span>

                    <i class="text-gray-500 pi" [class.pi-chevron-down]="!guardOpen"
                        [class.pi-chevron-up]="guardOpen"></i>
                    }

                </div>

                @if(guardOpen && !collapsed){
                <ul class="list-none p-0 m-0 ml-4">

                    <li>
                        <a routerLink="guard" routerLinkActive="text-blue-500 bg-gray-100" pRipple
                            class="flex gap-2 p-3 rounded-lg hover:bg-gray-100">
                            guard
                        </a>
                    </li>



                </ul>
                }

            </li>
            <li class="mt-6">

                <div (click)="toggleInterceptor()" pRipple
                    class="p-3 flex items-center justify-between cursor-pointer rounded-lg hover:bg-gray-100">

                    @if(collapsed){
                    <h2 class="font-bold text-gray-500">int</h2>
                    }

                    @if(!collapsed){
                    <span class="font-bold text-gray-500">interceptor</span>

                    <i class="text-gray-500 pi" [class.pi-chevron-down]="!interceptorOpen"
                        [class.pi-chevron-up]="interceptorOpen"></i>
                    }

                </div>

                @if(interceptorOpen && !collapsed){
                <ul class="list-none p-0 m-0 ml-4">

                    <li>
                        <a routerLink="interceptor" routerLinkActive="text-blue-500 bg-gray-100" pRipple
                            class="flex gap-2 p-3 rounded-lg hover:bg-gray-100">
                            interceptor
                        </a>
                    </li>



                </ul>
                }

            </li>


        </ul>

    </div>

</div>